/*
 * Copyright 2000, International Business Machines Corporation and others.
 * All Rights Reserved.
 * 
 * This software has been released under the terms of the IBM Public
 * License.  For details, see the LICENSE file in the top-level source
 * directory or online at http://www.openafs.org/dl/license10.html
 */

#define  AFS_VERINFO_FILE_DESCRIPTION "AFS Explorer Extension DLL"
#define AFS_VERINFO_DLL
#define AFS_VERINFO_NAME "afs_shl_ext"
#define AFS_VERINFO_FILENAME "afs_shl_ext.dll"

#include "AFS_component_version_number.h"
#include "..\..\config\NTVersioninfo.rc"
