<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>MenuCracker</string>
	<key>CFBundleGetInfoString</key>
	<string>MenuCracker 1.4 ©2001-2006, james_007_bond@users.sourceforge.net</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.menucracker2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MenuCracker</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>NSMenuExtraWidth</key>
	<integer>0</integer>
	<key>NSPrincipalClass</key>
	<string>CPUExtra</string>
</dict>
</plist>
