# After changing this file, please run
#     git ls-files -i --exclude-standard
# to check that you haven't inadvertently ignored any tracked files.

/cnvldb
/vl_errors.c
/vlclient
/vldb_check
/vldbint.h
/vlserver
/vlserver.h
