# After changing this file, please run
#     git ls-files -i --exclude-standard
# to check that you haven't inadvertently ignored any tracked files.

/xf_errs.c
/xf_errs.h
/OS.pm
/Dirpath.pm
/afscp
/afsdump_dirlist
/afsdump_extract
/afsdump_scan
/append-over-page
/asu
/blocks-new-file
/create-dirs
/create-files
/create-remove
/create-stat
/create-symlinks
/dumpscan_errs.c
/dumpscan_errs.h
/dumptool
/dup2-and-unlog
/echo-n
/exit-wo-close
/fchmod
/fsx
/hardlink1
/hardlink2
/hardlink4
/hello-world
/intr-read
/kill-softer
/kill-softly
/large-dir
/large-dir2
/large-dir3
/make-page
/mkdir2
/mkdir3
/mmap-and-read
/mmap-cat
/mmap-shared-write
/mmap-vs-read
/mmap-vs-read2
/mountpoint
/pine
/read-vs-mmap
/read-vs-mmap2
/read-write
/readdir-vs-lstat
/rename-under-feet
/rename5
/rename6
/rm-rf
/run-tests
/run-tests.conf
/still-there-p
/strange-characters-c
/symlink
/test-parallel1
/test-parallel2
/test-setgroups
/test-setpag
/truncate
/truncate-files
/utime-dir
/utime-file
/write-closed
/write-closed2
/write-large
/write-rand
/write-ro-file
/write-ucc
/write3
