<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>OpenAFS</string>
	<key>CFBundleIdentifier</key>
	<string>it.infn.lnf.network.openafs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0b</string>
	<key>CFBundleSignature</key>
	<string>INFN</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSMainNibFile</key>
	<string>OpenAFSPreference</string>
	<key>NSPrefPaneIconFile</key>
	<string>AFSCommanderIcon</string>
	<key>NSPrefPaneIconLabel</key>
	<string>OpenAFS</string>
	<key>NSPrincipalClass</key>
	<string>AFSCommanderPref</string>
</dict>
</plist>
