#include "resource.h"

#define AFS_VERINFO_FILE_DESCRIPTION "AFS Client Configuration"
#include "AFS_component_version_number.h"
#include "..\..\config\NTVersioninfo.rc"

IDI_MAIN                ICON    DISCARDABLE     "afs_config.ico"
