# After changing this file, please run
#     git ls-files -i --exclude-standard
# to check that you haven't inadvertently ignored any tracked files.

/MODLOAD
/MODLOAD-*
/MODLOAD32
/MODLOAD64
/Makefile.common
/MakefileProto.*
!/MakefileProto.*.in
/afs
/Info.plist
/afsint
/asm
/asm-generic
/config
/export.h
/export.exp
/export64.exp
/h
/inet
/kconf-GENERIC
/linux
/net
/netinet
/nfs
/rpc
/sys
/rx
/ufs
/.makelog
