# After changing this file, please run
#     git ls-files -i --exclude-standard
# to check that you haven't inadvertently ignored any tracked files.

/fmt-t
/dict-t
/jhash-t
/queues-t
/rbtree-t
/time64-t
/uuid-t
/softsig-helper
/cache-t
