=head1 NAME

vos_setaddrs - Set new addresses for a file server's entry in the VLDB

=head1 SYNOPSIS

=for html
<div class="synopsis">

B<vos setaddrs> S<<< B<-uuid> <I<UUID of server>> >>>
    S<<< B<-host> <I<IP address>>+ >>>
    S<<< [B<-cell> <I<cell name>>] >>> [B<-noauth>] [B<-localauth>]
    [B<-verbose>] [B<-encrypt>] [B<-noresolve>]
    S<<< [B<-config> <I<config directory>>] >>>
    [B<-help>]

B<vos seta> S<<< B<-u> <I<UUID of server>> >>>
    S<<< B<-ho> <I<IP address>>+ >>>
    S<<< [B<-c> <I<cell name>>] >>>
    [B<-noa>] [B<-l>] [B<-v>] [B<-e>] [B<-nor>]
    S<<< [B<-co> <I<config directory>>] >>>
    [B<-h>]

=for html
</div>

=head1 DESCRIPTION

The B<vos setaddrs> command sets the IP addresses for a server entry in
the Volume Location Database (VLDB). Specify one or several IP addresses.
All existing addresses in the VLDB server entry are replaced with the new
addresses given on the command line.

To find the UUID for a server entry, use the C<vos listaddrs -printuuid>
command to display all VLDB server entries with their UUIDs.

=head1 CAUTIONS

Normally, the best way to change the registered addresses for a server
entry is to restart the File Server process after changing the network
configuration for that server and possibly the F<NetInfo> and
F<NetRestrict> files for that server.  See L<NetInfo(5)> and
L<NetRestrict(5)> for more information about configuring the File Server
to register the correct set of addresses.  This command can be used to
change the registered addresses without restarting the File Server, but
the next time the File Server is restarted, it will register all of its
known addresses again.  You should therefore always ensure that the File
Server configuration is correct for whenever it is next restarted before
using this command.

Setting the wrong addresses will make the volumes on that file server 
unreachable from AFS clients.

This command was introduced in OpenAFS 1.5.74, but can be used with any
version of the Volume Location Server.

=head1 OPTIONS

=over 4

=item B<-uuid> <I<UUID of server>>

The unique ID as provided by the C<vos listaddrs -printuuid> command.

=item B<-host> <I<IP address>>+

The new list of IP addresses for the File Server.

=include fragments/vos-common.pod

=back

=head1 EXAMPLES

The following command sets addresses C<192.12.107.214> and C<10.47.11.17>
for the UUID 008f157e-bad0-157c-0ffee-357c4d1faa77

   % vos setaddrs -uuid 008f157e-bad0-157c-0ffee-357c4d1faa77 \
       -host 192.12.107.214 -host 10.47.11.17 -verbose
   vos: Changed UUID with addresses:
   UUID: 008f157e-bad0-157c-0ffee-357c4d1faa77
   192.12.107.214
   10.47.11.17

=head1 PRIVILEGE REQUIRED

Issuer must be listed in the F</usr/afs/etc/UserList> file on each
database server machine.

=head1 SEE ALSO

L<CellServDB(5)>,
L<NetInfo(5)>,
L<NetRestrict(5)>,
L<UserList(5)>,
L<sysid(5)>,
L<fileserver(8)>,
L<vos(1)>,
L<vos_listaddrs(1)>,
L<vos_remaddrs(1)>

=head1 COPYRIGHT

KTH 2010. All Rights Reserved.

This documentation is covered by the IBM Public License Version 1.0. 
