* Copyright 2000, International Business Machines Corporation and others.
* All Rights Reserved.
* 
* This software has been released under the terms of the IBM Public
* License.  For details, see the LICENSE file in the top-level source
* directory or online at http://www.openafs.org/dl/license10.html

* In order for AFS events to be recorded by the AIX auditing facility,
* the events must be declared within the "/etc/security/audit/events"
* file.  This file contains all of the AFS audit events, and needs to
* be appended to the "/etc/security/audit/events" file.

* AFS events - Audit

*	/usr/afs/local/Audit:
	AFS_Audit_WR    = printf "%s"

	AFS_Aud_On      = printf "ECode=%d"
	AFS_Aud_Off     = printf "ECode=%d"
	AFS_Aud_EINVAL  = printf "Event=%s"
	AFS_Aud_Unauth  = printf "ECode=%d Event=%s"
	AFS_Aud_NoAFSId = printf "ECode=%d Event=%s"
	AFS_Aud_UnknSec = printf "ECode=%d Event=%s"
	AFS_Aud_NoCall  = printf "ECode=%d Event=%s"
	AFS_Aud_NoConn  = printf "ECode=%d Event=%s"
	AFS_Aud_NoHost  = printf "ECode=%d Event=%s"

* AFS events - BUDB
	AFS_BUDB_Start  = printf "ECode=%d"
	AFS_BUDB_Finish = printf "ECode=%d"
	AFS_BUDB_Exit   = printf "ECode=%d"
	AFS_BUDB_UseTpe = printf "ECode=%d AFSName=%s HostID=0x%x dumpId=%u"
 	AFS_BUDB_FinTpe = printf "ECode=%d AFSName=%s HostID=0x%x dumpId=%u"
 	AFS_BUDB_DelTpe = printf "ECode=%d AFSName=%s HostID=0x%x dumpId=%u"
 	AFS_BUDB_CrDmp  = printf "ECode=%d AFSName=%s HostID=0x%x dumpId=%u"
	AFS_BUDB_FinDmp = printf "ECode=%d AFSName=%s HostID=0x%x dumpId=%u"
 	AFS_BUDB_DelDmp = printf "ECode=%d AFSName=%s HostID=0x%x dumpId=%u"
 	AFS_BUDB_LstDmp = printf "ECode=%d AFSName=%s HostID=0x%x SearchFlags=%u"
	AFS_BUDB_AppDmp = printf "ECode=%d AFSName=%s HostID=0x%x dumpId=%u"
	AFS_BUDB_FnLTpe = printf "ECode=%d AFSName=%s HostID=0x%x dumpId=%u"
	AFS_BUDB_AddVol = printf "ECode=%d AFSName=%s HostID=0x%x volId=%u"
	AFS_BUDB_GetTpe = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_BUDB_GetDmp = printf "ECode=%d AFSName=%s HostID=0x%x"
 	AFS_BUDB_GetVol = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_BUDB_DelVDP = printf "ECode=%d AFSName=%s HostID=0x%x dumpSetName=%s"
	AFS_BUDB_FndCln = printf "ECode=%d AFSName=%s HostID=0x%x volName=%s"
	AFS_BUDB_FndDmp = printf "ECode=%d AFSName=%s HostID=0x%x volName=%s"
	AFS_BUDB_FndLaD = printf "ECode=%d AFSName=%s HostID=0x%x volName=%s"
	AFS_BUDB_DmpDB  = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_BUDB_RstDBH = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_BUDB_DBVfy  = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_BUDB_GetTxt = printf "ECode=%d AFSName=%s HostID=0x%x Type=%d"
	AFS_BUDB_GetTxV = printf "ECode=%d AFSName=%s HostID=0x%x Type=%d"
	AFS_BUDB_SavTxt = printf "ECode=%d AFSName=%s HostID=0x%x Type=%d"
	AFS_BUDB_FrALck = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_BUDB_FreLck = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_BUDB_GetIId = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_BUDB_GetLck = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_BUDB_TGetVr = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_BUDB_TDmpHa = printf "ECode=%d AFSName=%s HostID=0x%x file=/tmp/%s"
	AFS_BUDB_TDmpDB = printf "ECode=%d AFSName=%s HostID=0x%x file=/tmp/%s"

* AFS events - PTServer
	AFS_PTS_Start   = printf "ECode=%d"
	AFS_PTS_Finish  = printf "ECode=%d"
	AFS_PTS_Exit    = printf "ECode=%d"
	AFS_PTS_INewEnt = printf "ECode=%d AFSName=%s HostID=0x%x GroupId=%d Name=%s OwnerId=%d"
	AFS_PTS_NewEnt  = printf "ECode=%d AFSName=%s HostID=0x%x GroupId=%d Name=%s OwnerId=%d"
	AFS_PTS_LstEnt  = printf "ECode=%d AFSName=%s HostID=0x%x GroupId=%d"
	AFS_PTS_ChgEnt  = printf "ECode=%d AFSName=%s HostID=0x%x GroupId=%d NewName=%s NewOwnerId=%d NewId=%d"
	AFS_PTS_SetFEnt = printf "ECode=%d AFSName=%s HostID=0x%x GroupId=%d"
	AFS_PTS_LstOwn  = printf "ECode=%d AFSName=%s HostID=0x%x GroupId=%d"
	AFS_PTS_LstEle  = printf "ECode=%d AFSName=%s HostID=0x%x GroupId=%d"
	AFS_PTS_LstMax  = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_PTS_SetMax  = printf "ECode=%d AFSName=%s HostID=0x%x GroupId=%d flag=%d"
	AFS_PTS_Del     = printf "ECode=%d AFSName=%s HostID=0x%x GroupId=%d"
	AFS_PTS_AdToGrp = printf "ECode=%d AFSName=%s HostID=0x%x GroupId=%d UserId=%d"
	AFS_PTS_RmFmGrp = printf "ECode=%d AFSName=%s HostID=0x%x GroupId=%d UserId=%d"
	AFS_PTS_IsMemOf = printf "ECode=%d AFSName=%s HostID=0x%x UserId=%d GroupId=%d"
	AFS_PTS_NmToId  = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_PTS_IdToNm  = printf "ECode=%d AFSName=%s HostID=0x%x GroupId=%d"
	AFS_PTS_GetCPS  = printf "ECode=%d AFSName=%s HostID=0x%x GroupId=%d"
	AFS_PTS_GetCPS2 = printf "ECode=%d AFSName=%s HostID=0x%x GroupId=%d Host=0x%x"
	AFS_PTS_GetHCPS = printf "ECode=%d AFSName=%s HostID=0x%x Host=0x%x"
	AFS_PTS_WheIsIt = printf "ECode=%d AFSName=%s HostID=0x%x GroupId=%s Position=%d"
	AFS_PTS_DmpEnt  = printf "ECode=%d AFSName=%s HostID=0x%x Position=%d"

* AFS events - volserver
	AFS_VS_Start    = printf "ECode=%d"
	AFS_VS_Finish   = printf "ECode=%d"
	AFS_VS_Exit     = printf "ECode=%d"
	AFS_VS_TransCr  = printf "ECode=%d AFSName=%s HostID=0x%x Trans=%d VolID=%u"
	AFS_VS_EndTrn   = printf "ECode=%d AFSName=%s HostID=0x%x Trans=%d"
	AFS_VS_CrVol    = printf "ECode=%d AFSName=%s HostID=0x%x Trans=%d VolID=%u VolName=%s Type=%d ParentID=%d"
	AFS_VS_DelVol   = printf "ECode=%d AFSName=%s HostID=0x%x Trans=%d"
        AFS_VS_NukVol   = printf "ECode=%d AFSName=%s HostID=0x%x VolID=%u"
	AFS_VS_Dump     = printf "ECode=%d AFSName=%s HostID=0x%x Trans=%d"
	AFS_VS_SigRst   = printf "ECode=%d AFSName=%s HostID=0x%x VolName=%s"
	AFS_VS_Restore  = printf "ECode=%d AFSName=%s HostID=0x%x Trans=%d"
	AFS_VS_Forward  = printf "ECode=%d AFSName=%s HostID=0x%x FromTrans=%d Host=%d DestTrans=%d"
	AFS_VS_Clone    = printf "ECode=%d AFSName=%s HostID=0x%x Trans=%d Purge=%d NewName=%s NewType=%d NewVolID=%u"
	AFS_VS_ReClone  = printf "ECode=%d AFSName=%s HostID=0x%x Trans=%d CloneVolID=%u"
	AFS_VS_SetForw  = printf "ECode=%d AFSName=%s HostID=0x%x Trans=%d NewHost=0x%x"
	AFS_VS_GetFlgs  = printf "ECode=%d AFSName=%s HostID=0x%x Trans=%d"
	AFS_VS_SetFlgs  = printf "ECode=%d AFSName=%s HostID=0x%x Trans=%d Flags=%d"
	AFS_VS_GetName  = printf "ECode=%d AFSName=%s HostID=0x%x Trans=%d"
	AFS_VS_GetStat  = printf "ECode=%d AFSName=%s HostID=0x%x Trans=%d"
	AFS_VS_SetIdTy  = printf "ECode=%d AFSName=%s HostID=0x%x Trans=%d VolName=%s Type=%d ParentId=%d CloneID=%d BackupID=%d"
	AFS_VS_SetDate  = printf "ECode=%d AFSName=%s HostID=0x%x Trans=%d Date=%d"
 	AFS_VS_ListPar  = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_VS_ParInf   = printf "ECode=%d AFSName=%s HostID=0x%x PartName=%s"
	AFS_VS_ListVol  = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_VS_XLstVol  = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_VS_Lst1Vol  = printf "ECode=%d AFSName=%s HostID=0x%x VolID=%u"
	AFS_VS_XLst1Vl  = printf "ECode=%d AFSName=%s HostID=0x%x VolID=%u"
	AFS_VS_GetNVol  = printf "ECode=%d AFSName=%s HostID=0x%x VolID=%u"
	AFS_VS_Monitor  = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_VS_SetInfo  = printf "ECode=%d AFSName=%s HostID=0x%x Trans=%d"

* AFS events - authentication
        AFS_KAA_ChPswd  = printf "ECode=%d AFSName=%s HostID=0x%x name=%s instance=%s"
	AFS_KAA_AuthO   = printf "ECode=%d AFSName=%s HostID=0x%x name=%s instance=%s"
	AFS_KAA_Auth    = printf "ECode=%d AFSName=%s HostID=0x%x name=%s instance=%s"

	AFS_KAT_GetTkt  = printf "ECode=%d AFSName=%s HostID=0x%x name=%s instance=%s"
	AFS_KAT_GetTktO = printf "ECode=%d AFSName=%s HostID=0x%x name=%s instance=%s"

	AFS_KAM_CrUser  = printf "ECode=%d AFSName=%s HostID=0x%x name=%s instance=%s"
	AFS_KAM_DelUser = printf "ECode=%d AFSName=%s HostID=0x%x name=%s instance=%s"
	AFS_KAM_SetPswd = printf "ECode=%d AFSName=%s HostID=0x%x name=%s instance=%s"
	AFS_KAM_LstEnt  = printf "ECode=%d AFSName=%s HostID=0x%x index=%d"
	AFS_KAM_GetPswd = printf "ECode=%d AFSName=%s HostID=0x%x name=%s"
	AFS_KAM_Dbg     = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_KAM_SetFld  = printf "ECode=%d AFSName=%s HostID=0x%x name=%s instance=%s flags=%u date=%u lifetime=%u maxAssoc=%u"
	AFS_KAM_GetStat = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_KAM_GetEnt  = printf "ECode=%d AFSName=%s HostID=0x%x name=%s instance=%s"
	AFS_KAM_GRnKey  = printf "ECode=%d AFSName=%s HostID=0x%x"

        AFS_UnAth       = printf "ECode=%d AFSName=%s HostID=0x%x name=%s instance=%s cell=%s"
	AFS_UseOfPriv   = printf "ECode=%d AFSName=%s HostID=0x%x name=%s instance=%s cell=%s"
	AFS_UnlockUser  = printf "ECode=%d AFSName=%s HostID=0x%x name=%s instance=%s"
	AFS_LockStatus  = printf "ECode=%d AFSName=%s HostID=0x%x name=%s instance=%s"
	AFS_UDPAuth     = printf "ECode=%d name=%s instance=%s"
	AFS_UDPGetTckt  = printf "ECode=%d name=%s instance=%s cell=%s name=%s instance=%s"

        AFS_RunNoAuth   = printf "ECode=%d"
	AFS_NoAuthDsbl  = printf "ECode=%d"
	AFS_NoAuthEnbl  = printf "ECode=%d"

* AFS events - RX
	AFS_SRX_FchData = printf "ECode=%d AFSName=%s HostID=0x%x FID=%u %u %u"
	AFS_SRX_FchACL  = printf "ECode=%d AFSName=%s HostID=0x%x FID=%u %u %u"
	AFS_SRX_BFchSta = printf "ECode=%d AFSName=%s HostID=0x%x FID=%u %u %u"
	AFS_SRX_FchStat = printf "ECode=%d AFSName=%s HostID=0x%x FID=%u %u %u"
	AFS_SRX_StData  = printf "ECode=%d AFSName=%s HostID=0x%x FID=%u %u %u"
	AFS_SRX_StACL   = printf "ECode=%d AFSName=%s HostID=0x%x FID=%u %u %u"
	AFS_SRX_StStat  = printf "ECode=%d AFSName=%s HostID=0x%x FID=%u %u %u"
	AFS_SRX_RmFile  = printf "ECode=%d AFSName=%s HostID=0x%x FID=%u %u %u name=%s"
	AFS_SRX_CrFile  = printf "ECode=%d AFSName=%s HostID=0x%x FID=%u %u %u name=%s"
	AFS_SRX_RNmFile = printf "ECode=%d AFSName=%s HostID=0x%x oldFID=%u %u %u oldName=%s newFID=%u %u %u newName=%s"
	AFS_SRX_SymLink = printf "ECode=%d AFSName=%s HostID=0x%x FID=%u %u %u name=%s"
	AFS_SRX_Link    = printf "ECode=%d AFSName=%s HostID=0x%x FID=%u %u %u  name=%s FID=%u %u %u"
	AFS_SRX_MakeDir = printf "ECode=%d AFSName=%s HostID=0x%x FID=%u %u %u name=%s"
	AFS_SRX_RmDir   = printf "ECode=%d AFSName=%s HostID=0x%x FID=%u %u %u name=%s"
	AFS_SRX_SetLock = printf "ECode=%d AFSName=%s HostID=0x%x FID=%u %u %u type=%d"
	AFS_SRX_ExtLock = printf "ECode=%d AFSName=%s HostID=0x%x FID=%u %u %u"
	AFS_SRX_RelLock = printf "ECode=%d AFSName=%s HostID=0x%x FID=%u %u %u"
	AFS_SRX_SetVolS = printf "ECode=%d AFSName=%s HostID=0x%x volId=%u volName=%s"
	AFS_Priv        = printf "ECode=%d viceId=%d callRoutine=%d"
	AFS_PrivSet     = printf "ECode=%d viceId=%d callRoutine=%d"

* AFS events - BOS server
	AFS_BOS_SetReSt = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_BOS_Exec    = printf "ECode=%d AFSName=%s HostID=0x%x cmd=%s"
	AFS_BOS_UnInst  = printf "ECode=%d AFSName=%s HostID=0x%x name=%s"
	AFS_BOS_Inst    = printf "ECode=%d AFSName=%s HostID=0x%x name=%s"
	AFS_BOS_SetCell = printf "ECode=%d AFSName=%s HostID=0x%x name=%s"
	AFS_BOS_AddHst  = printf "ECode=%d AFSName=%s HostID=0x%x name=%s"
	AFS_BOS_DelHst  = printf "ECode=%d AFSName=%s HostID=0x%x name=%s"
        AFS_BOS_AddKey  = printf "ECode=%d AFSName=%s HostID=0x%x"
        AFS_BOS_LstKey  = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_BOS_LstKeyU = printf "ECode=%d AFSName=%s HostID=0x%x"
        AFS_BOS_DelKey  = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_BOS_SetNoAu = printf "ECode=%d AFSName=%s HostID=0x%x flag=%d"
        AFS_BOS_AddSUsr = printf "ECode=%d AFSName=%s HostID=0x%x"
        AFS_BOS_LstSUsr = printf "ECode=%d AFSName=%s HostID=0x%x"
        AFS_BOS_DelSUsr = printf "ECode=%d AFSName=%s HostID=0x%x"
        AFS_BOS_CreBnod = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_BOS_DelBnod = printf "ECode=%d AFSName=%s HostID=0x%x instance=%s"
	AFS_BOS_StartAl = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_BOS_ReStAll = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_BOS_ShtdAll = printf "ECode=%d AFSName=%s HostID=0x%x"
        AFS_BOS_WaitAll = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_BOS_ReStart = printf "ECode=%d AFSName=%s HostID=0x%x instance=%s"
        AFS_BOS_ReBos   = printf "ECode=%d AFSName=%s HostID=0x%x"
        AFS_BOS_ReBosIn = printf "ECode=%d"
	AFS_BOS_SetTSta = printf "ECode=%d AFSName=%s HostID=0x%x instance=%s"
	AFS_BOS_SetStat = printf "ECode=%d AFSName=%s HostID=0x%x instance=%s"
        AFS_BOS_PrnLog  = printf "ECode=%d AFSName=%s HostID=0x%x"
        AFS_BOS_GetLog  = printf "ECode=%d AFSName=%s HostID=0x%x"
        AFS_BOS_DoExec  = printf "ECode=%d exec=%s"
        AFS_BOS_StpProc = printf "ECode=%d cmd=%s"

* AFS events - VL Server
	AFS_VL_CreEnt   = printf "ECode=%d AFSName=%s HostID=0x%x name=%s"
	AFS_VL_DelEnt   = printf "ECode=%d AFSName=%s HostID=0x%x volID=%u"
	AFS_VL_GetNVlID = printf "ECode=%d AFSName=%s HostID=0x%x"
	AFS_VL_RepEnt   = printf "ECode=%d AFSName=%s HostID=0x%x volID=%u"
	AFS_VL_UpdEnt   = printf "ECode=%d AFSName=%s HostID=0x%x volID=%u"
	AFS_VL_SetLck   = printf "ECode=%d AFSName=%s HostID=0x%x volID=%u"
	AFS_VL_RelLck   = printf "ECode=%d AFSName=%s HostID=0x%x volID=%u"
