# After changing this file, please run
#     git ls-files -i --exclude-standard
# to check that you haven't inadvertently ignored any tracked files.

/Makefile.vars
/pod1/*.pod
/pod3/*.pod
/pod5/*.pod
/pod8/*.pod
/html
/man1
/man3
/man5
/man8
