# After changing this file, please run
#     git ls-files -i --exclude-standard
# to check that you haven't inadvertently ignored any tracked files.

/iTaAfsAdmSvr.h
/iTaAfsAdmSvrTypes.h
/iTaAfsAdmSvr_*_c.c
/iTaAfsAdmSvr_*_s.c

