/*
 * Copyright 2008, Secure Endpoints Inc.
 * All Rights Reserved.
 * 
 * This software has been released under the terms of the MIT License.  
 */

/* Define VERSIONINFO resource */

#define  AFS_VERINFO_FILE_DESCRIPTION "AFS Redirector Network Provider"
#define AFS_VERINFO_NAME "AFSRDFSProvider"
#define AFS_VERINFO_FILENAME "AFSRDFSProvider.dll"

#include "..\AFS_component_version_number.h"
#include "..\..\..\config\NTVersioninfo.rc"
