/*
 * Copyright 2000, International Business Machines Corporation and others.
 * All Rights Reserved.
 * 
 * This software has been released under the terms of the IBM Public
 * License.  For details, see the LICENSE file in the top-level source
 * directory or online at http://www.openafs.org/dl/license10.html
 */

#ifndef APSTUDIO_INVOKED
#define AFS_VERINFO_FILE_DESCRIPTION "AFS Application Base DLL"
#define AFS_VERINFO_DLL
#define AFS_VERINFO_NAME "afsapplib"
#define AFS_VERINFO_FILENAME "afsapplib.dll"
#include "AFS_component_version_number.h"
#include "..\..\config\NTVersioninfo.rc"
#endif // APSTUDIO_INVOKED
