Source: openafs
Section: non-us/main
Priority: optional
Maintainer: Sam Hartman <hartmans@debian.org>
Build-Depends: debhelper (>= 2.1.16), libncurses5-dev, libpam0g-dev, bison
Standards-Version: 3.1.1

Package: openafs-client
Architecture: i386, powerpc, sparc
Depends: ${shlibs:Depends}, debconf, dnsutils, openafs-modules
Conflicts: arla
Description: The AFS distributed filesystem- client support
 AFS is a distributed filesystem allowing cross-platform sharing of
 files among multiple computers.  Facilities are provided for access
 control, authentication, backup and administrative management.
 .
 This package provides basic client support to mount and manipulate
 AFS.

Package: openafs-kpasswd
Priority: extra
Architecture: i386, powerpc, sparc
Depends: ${shlibs:Depends}, openafs-client (= ${Source-Version})
Conflicts: krb5-user, heimdal-clients
Description: The AFS distributed filesystem- old password changing
 AFS is a distributed filesystem allowing cross-platform sharing of
 files among multiple computers.  Facilities are provided for access
 control, authentication, backup and administrative management.
 .
 This package provides kpasswd and kas, utilities needed by the 
 Transarc kaserver to create users and change passwords.

Package: openafs-fileserver
Architecture: i386, powerpc, sparc
Depends: ${shlibs:Depends}, debconf, openafs-client (= ${Source-Version})
Recommends: ntp
Description: The AFS distributed filesystem- file server
 AFS is a distributed filesystem allowing cross-platform sharing of
 files among multiple computers.  Facilities are provided for access
 control, authentication, backup and administrative management.
 .
 This package provides the AFS fileserver binaries.  It should be
 installed on any machine that will export files into AFS.

Package: openafs-dbserver
Architecture: i386, powerpc, sparc
Depends: ${shlibs:Depends}, debconf, openafs-fileserver (= ${Source-Version}), openafs-client (= ${Source-Version}), perl5, openafs-ptutil
Description: The AFS distributed filesystem- database server
 AFS is a distributed filesystem allowing cross-platform sharing of
 files among multiple computers.  Facilities are provided for access
 control, authentication, backup and administrative management.
 .
 This package provides AFS database server binaries.  It should be
 installed on the servers that will act as volume location and
 protection servers.

Package: libopenafs-dev
Architecture: i386, powerpc, sparc
Priority: extra
Description: The AFS distributed filesystem- development libraries
 AFS is a distributed filesystem allowing cross-platform sharing of
 files among multiple computers.  Facilities are provided for access
 control, authentication, backup and administrative management.
 .
 This package provides static development libraries and headers
 needed to compile AFS applications.

Package: openafs-modules-source
Priority: extra
Depends: bison, flex
Architecture: all
Description: The AFS distributed filesystem- Module Sources
 AFS is a distributed filesystem allowing cross-platform sharing of
 files among multiple computers.  Facilities are provided for access
 control, authentication, backup and administrative management.
 .
 This package provides source to the AFS kernel modules.
