#!/bin/sh

set -e

. /usr/share/debconf/confmodule
db_version 2.0

# Warn anyone who's trying to run the file server on alpha.
arch=`dpkg --print-architecture`
if [ "$arch" = "alpha" ] ; then
    db_input high openafs-fileserver/alpha-broken || true
fi

# Configure the local cell.  Ignore errors on read since it may fail if
# there's no newline in the file.  Default to the server ThisCell file and, if
# that fails, the configured client cell.
if [ -r /etc/openafs/server/ThisCell ] ; then
    read cell < /etc/openafs/server/ThisCell || true
    db_set openafs-fileserver/thiscell "$cell"
fi
db_get openafs-fileserver/thiscell || true
if [ "x$RET" = "x" ] ; then
    db_get openafs-client/thiscell || true
    db_set openafs-fileserver/thiscell "$RET"
fi
db_input low openafs-fileserver/thiscell || true
db_go
