#!/bin/sh -e

. /usr/share/debconf/confmodule ||exit

db_version 2.0
db_input medium openafs-client/thiscell ||true
db_input high openafs-client/cachesize ||true
db_go
test -f /etc/openafs/afs.conf &&. /etc/openafs/afs.conf
if [ "x$AFS_CLIENT" != "x" ] ; then
    db_set openafs-client/run-client  $AFS_CLIENT
    fi
db_input low openafs-client/run-client || true
db_go
