[Unit]
Description=OpenAFS file and database server manager
Wants=network-online.target
After=network.target network-online.target local-fs.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/openafs-fileserver
ExecStart=/usr/sbin/bosserver -nofork $DAEMON_ARGS
ExecStop=/usr/bin/bos shutdown localhost -wait -localauth

[Install]
WantedBy=multi-user.target
