#!/bin/sh -e

. /usr/share/debconf/confmodule || exit

db_version 2.0
if [ -r /etc/openafs/server/ThisCell ] ; then
    read cell </etc/openafs/server/ThisCell
    db_set openafs-fileserver/thiscell $cell
    fi

db_get openafs-fileserver/thiscell || true
if [ "x$RET" = "x" ] ; then
	db_get openafs-client/thiscell ||true
	db_set openafs-fileserver/thiscell "$RET"
	fi

db_input low openafs-fileserver/thiscell || true
db_go
