[Unit]
Description=OpenAFS client
Wants=network-online.target
After=network.target network-online.target local-fs.target
Before=remote-fs.target

[Service]
Type=forking
ExecStartPre=/usr/share/openafs/openafs-client-precheck
ExecStart=/sbin/afsd $AFSD_ARGS
ExecStartPost=/usr/bin/fs setcrypt $AFS_SETCRYPT
ExecStartPost=/usr/bin/fs sysname $AFS_SYSNAME
ExecStop=/bin/grep -qv ^1$ /proc/sys/kernel/modules_disabled
ExecStop=/usr/share/openafs/openafs-client-postcheck
ExecStop=/bin/umount -a -t afs
ExecStop=/bin/umount -af -t afs
ExecStopPost=/sbin/rmmod $KMOD
EnvironmentFile=/var/cache/openafs-client/openafs-client.env
EnvironmentFile=-/var/cache/openafs-client/openafs-client.shutdown.env
KillMode=none
GuessMainPID=no

[Install]
WantedBy=multi-user.target remote-fs.target
