# After changing this file, please run
#     git ls-files -i --exclude-standard
# to check that you haven't inadvertently ignored any tracked files.

/generator
/kctest
/kstest
/tableGen
/testclient
/testserver
/th_testclient
/th_testserver
