# After changing this file, please run
#     git ls-files -i --exclude-standard
# to check that you haven't inadvertently ignored any tracked files.

/MSG00409.bin
/afsd_eventmessages.h
/afsd_eventmessages.rc
/afsrpc.h
/afsrpc_*_c.c
/afsrpc_*_s.c
/ms-srvsvc.h
/ms-srvsvc_*_c.c
/ms-srvsvc_*_s.c
/ms-wkssvc.h
/ms-wkssvc_*_c.c
/ms-wkssvc_*_s.c
