/*
 * Copyright 2008, Secure Endpoints Inc.
 * All Rights Reserved.
 * 
 * This software has been released under the terms of the MIT License.  
 */

/* Define VERSIONINFO resource */

#define  AFS_VERINFO_FILE_DESCRIPTION "AFS Redirector SetTrace"
#define AFS_VERINFO_NAME "SetTrace"
#define AFS_VERINFO_FILENAME "settrace.exe"

#include "..\..\AFS_component_version_number.h"
#include "..\..\..\..\config\NTVersioninfo.rc"
