[Unit]
Description=OpenAFS Client Service
Wants=network-online.target
After=syslog.target network-online.target dkms.service
Before=remote-fs.target

[Service]
Type=forking
RemainAfterExit=true
ExecStart=   /usr/vice/etc/openafs-client-systemd-helper.sh ExecStart
ExecStop=    /usr/vice/etc/openafs-client-systemd-helper.sh ExecStop
ExecStopPost=/usr/vice/etc/openafs-client-systemd-helper.sh ExecStopPost
KillMode=process
GuessMainPID=no
SendSIGKILL=no
KillSignal=SIGCONT

[Install]
WantedBy=multi-user.target remote-fs.target
