[Unit]
Description=OpenAFS Server Service
After=syslog.target network.target

[Service]
EnvironmentFile=-/etc/sysconfig/openafs
ExecStart=/usr/afs/bin/bosserver -nofork $BOSSERVER_ARGS
ExecStop=/usr/bin/bos shutdown localhost -wait -localauth

[Install]
WantedBy=multi-user.target
